
// Job paramaters to set for this environment

// Process setting

process {

  withName:'demux_dada2' {
	  cpus = { check_max( 24 * task.attempt, 'cpus' ) }
  	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
  }
/*
  withName:'pipeline_PacBio' {
	  cpus = { check_max( 24 * task.attempt, 'cpus' ) }
  	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
  }
*/
  // Global cluster parameters
  cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  time = { check_max( 24.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  // software dependencies moved to conda.config


}



