// This file is currently configured to run on a reserved single node on medcluster Kiel, use "srun --pty --nodes=1 --cpus-per-task=16 --mem=80G --time=48:00:00 /bin/bash", then start nextflow with parameter "-profile local"

// Job paramaters to set for this environment

params {
	max_cpus = 16
	max_ram = 64
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'local'

}

singularity {
  enabled = true
  runOptions = "-B /work_ifs -B /scratch"
  //cacheDir = "${baseDir}/../singularity-cache"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

